html {
  width: 100%;
}

header {
  max-width : 100% ;
}

body {
  width: 100%;
  font-family: "Raleway";
  margin: unset;
}

header > div {
  width: 100%;
}

#head_part2 {
  margin: 0 1em;
  width: auto;
}

a {
  text-decoration: none;
}

#barre_logo_inscrire {
  display: flex;
  justify-content: space-between;
  height: 3rem;
  align-items: center;
  padding: 1rem;
}
#logo {
  height: 100%;
}
.text_inscrire {
  font-size: 1rem;
  color: #0065fc;
  font-weight: bold;
}

#inscrire_pc {
  display: none;
}

nav {
  width: 100%;
  font-size: 1.2em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 1.5rem;
  padding-top: 1em;
}
nav > a {
  color: black;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 1em;
  border-bottom: solid 3px #f2f2f2;
}

nav > a:hover {
  color: #0065fc;
  border-bottom: solid 3px #0065fc;
}

#filtres {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.25rem;
  row-gap: 0.25rem;
}

form a {
  border-radius: 200px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}
#filtres i {
  font-size: 1.5em;
  width: 1em;
  height: 1em;
  padding: 0.5em;
  text-align: center;
  border-radius: 50px;
  color: #0065fc;
  background-color: #deebff;
  display: flex;
  justify-content: center;
}
i:hover {
  color: pink;
  background-color: royalblue;
}

#ville{
  height: 3.2em;
}

#gps {
  font-size: 1em;
  background-color: #f2f2f2;
  color: black;
  padding: 1em;
  border-radius: 12px 0 0 12px;
}
#logo_gps {
  background-color: #f2f2f2;
  color: black;
  border-radius: 12px 0 0 12px;
  border: none;
}

#loupe {
  font-size: 1em;
  background-color: #0065fc;
  color: white;
  padding: 1em;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}
#logo_loupe {
  background-color: #0065fc;
  color: white;
  border-radius: 12px;
  cursor: pointer;
  border: none;
}
#loupe_pc {
  display: none;
}

#filtres a {
  border: solid #f2f2f2 3px;
  padding: 0 0.5em 0 0;
  display: flex;
  align-items: center;
}

#logements_supp {
  display: flex;
  justify-content: left;
}
#i {
  color: #0065fc;
  background-color: white;
  border-radius: 50%;
  border: grey 1px solid;
  padding: 0.3em 0.55em;
  margin: 0.5em;
  text-align: center;
}

footer,
#populaire {
  background-color: #f2f2f2;
  padding: 1rem;
}

#tit_pop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#tit_pop > i {
  font-size: 1.5em;
}

#Les_heb {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
#Les_heb > a {
  text-decoration: none;
  color: black;
  padding: 5px;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 3px 5px grey;
  display: flex;
  align-items: stretch;
  height: 8em;
}
#Les_heb > a > img {
  width: 10em;
  margin-right: 1.5em;
  object-fit: cover;
  border-radius: 15px 0 0 15px;
}

#heb_marseille {
  padding: 1rem;
}

#heber {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
#heber > a {
  text-decoration: none;
  color: black;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 3px 5px grey;
  display: flex;
  justify-content: stretch;
  width: 100%;
  height: 15em;
}

.txt_pop {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-block-start: 0em;
  margin-block-end: 0em;
}
.txt_pop > h4 {
  padding-left: 0.5em;
}
.txt_pop > p {
  padding-left: 0.5em;
}


.block_heber_mars {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-block-start: 0em;
  margin-block-end: 0em;
}
.block_heber_mars > img {
  height: 60%;
  object-fit: cover;
  margin-bottom: 1em;
  margin-block-end: 0em;
}
.block_heber_mars > h4 {
  padding-left: 0.5em;
}
.block_heber_mars > p {
  padding-left: 0.5em;
}


/*Les étoiles*/
span {
  color: grey;
}
mark {
  color: #0065fc;
  background: none;
}

#plus {
  font-weight: bold;
}

#act {
  padding: 0 1em;
}

#acti {
  display: flex;
  flex-direction: row;
  row-gap: 1rem;
  flex-wrap: wrap;
  width: 100%;
}
#acti > div > a {
  width: 100%;
  border-radius: 15px;
  margin-bottom : 20px;
  box-shadow: 0px 3px 5px rgb(202, 202, 202);
  display: flex;
  align-items: stretch;
  overflow: hidden;
  flex-direction: column;
  text-decoration: none;
}
#acti > div > a > img {
  height: 80%;
  object-fit: cover;
}

#search {
  flex: auto;
  border: none;
}

#ville {
  width: 100%;
  border: solid #f2f2f2 2px;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
}

.case {
  width: 100%;
}
#vieux_port {
  height: 13em;
}
#fort {
  height: 13em;
}
#îles {
  height: 13em;
}
#Calanques {
  height: 13em;
}
#Notre_Dame {
  height: 13em;
}
#Longchamps {
  height: 13em;
}

#acti > div > a > h4 {
  color: black;
  height: 20%;
  padding-bottom: 1em;
  padding-left: 1em;
  display: flex;
  align-items: center;
}



h4 {
  margin-block-start: 0.5em;
  margin-block-end: 0.0em;
}
p {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}
li {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}
ul {
  list-style: none;
  padding: unset;
}